.page {
  color: #212121;
  background-color: #fcf5e5;
  min-height: 100vh;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.page__section {
  max-width: 1280px;
  margin: 0 auto;
  border-bottom: 1px rgb(33, 33, 33, 40%) solid;
}
